.arts/
.codeartsdoer/
.uploads/
附件1：华中科技大学第五届校园文化创意大赛作品说明与类型要求.pdf
附件2：新屋熊IP使用手册.pdf
附件3：华中科技大学第五届校园文化创意大赛参赛报名表.docx
附件4：华中科技大学第五届校园文化创意大赛参赛报名汇总表.xlsx
附件5：华中科技大学第五届校园文化创意大赛评分标准.pdf
关于举办华中科技大学第五届校园文化创意大赛的通知.pdf
